.card {
  position: relative;
  width: 35rem;
  border: 3px solid #ffffff3d;
  border-radius: 40px;
  padding: 2.5rem 2rem;
  background: linear-gradient(45deg, #09132E, #1C3B60);
}

.title {
  font-size: 2rem;
  font-weight: normal;
  color: #ffffff;
}
.contentParragraph {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3rem;
}
.parragraph {
  width: 60%;
  font-size: 0.9rem;
  font-weight: 300;
}

.icon {
  position: absolute;
  top: -4rem;
  right: 2rem;
  width: 10rem;
  height: 10rem;
}