---
import Button from './Button.astro'
---

<header class="flex justify-between py-8">
  <svg
    width="120"
    height="auto"
    viewBox="0 0 150 53"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M33.3223 17.5328C33.1064 16.6528 32.7661 15.8808 32.3012 15.2167C31.8363 14.536 31.2552 13.9631 30.5578 13.4983C29.8771 13.0168 29.0802 12.6598 28.167 12.4273C27.2705 12.1783 26.2826 12.0538 25.2034 12.0538C22.879 12.0538 20.8949 12.61 19.2512 13.7224C17.6241 14.8348 16.3789 16.437 15.5155 18.529C14.6688 20.621 14.2454 23.1446 14.2454 26.1C14.2454 29.0885 14.6522 31.6454 15.4657 33.7706C16.2793 35.8957 17.4913 37.5229 19.1018 38.6518C20.7123 39.7807 22.7129 40.3452 25.1038 40.3452C27.2124 40.3452 28.964 40.0382 30.3586 39.4238C31.7699 38.8096 32.8242 37.9379 33.5215 36.8089C34.2188 35.6799 34.5675 34.3516 34.5675 32.8242L36.9583 33.0732H25.303V23.211H47.9163V30.2839C47.9163 34.9328 46.9286 38.9091 44.9529 42.2131C42.9935 45.5007 40.2872 48.0242 36.8338 49.7841C33.397 51.5277 29.4538 52.3992 25.0042 52.3992C20.0399 52.3992 15.6815 51.3449 11.9293 49.2363C8.17701 47.1277 5.24654 44.1226 3.13797 40.221C1.04599 36.3191 0 31.6786 0 26.2992C0 22.082 0.639216 18.3463 1.91765 15.0921C3.21269 11.838 5.00579 9.09016 7.29702 6.84876C9.58824 4.59074 12.2364 2.88893 15.2416 1.74332C18.2467 0.581107 21.4677 0 24.9045 0C27.9263 0 30.7322 0.43168 33.3223 1.29504C35.9289 2.14179 38.2284 3.35381 40.221 4.93111C42.2298 6.4918 43.8487 8.34303 45.0771 10.4848C46.306 12.6266 47.0529 14.9759 47.3186 17.5328H33.3223ZM81.8676 16.6362C81.7347 14.9759 81.1121 13.6809 79.9997 12.7511C78.9038 11.8213 77.235 11.3565 74.9939 11.3565C73.566 11.3565 72.3956 11.5308 71.4823 11.8795C70.5858 12.2115 69.9215 12.6681 69.4898 13.2492C69.0581 13.8303 68.8341 14.4944 68.8173 15.2416C68.7842 15.8559 68.8921 16.4121 69.1411 16.9102C69.4068 17.3917 69.8218 17.8317 70.3863 18.2301C70.9509 18.612 71.6732 18.9607 72.553 19.2761C73.4331 19.5916 74.4793 19.8738 75.691 20.1229L79.8751 21.0194C82.6975 21.6171 85.1135 22.4058 87.1223 23.3853C89.1312 24.3649 90.775 25.5189 92.0533 26.8471C93.3317 28.1587 94.2699 29.6364 94.8676 31.2801C95.482 32.9238 95.7972 34.7169 95.8139 36.6595C95.7972 40.0133 94.9591 42.8524 93.2986 45.1769C91.6384 47.5014 89.2641 49.2694 86.176 50.4815C83.1042 51.6936 79.4103 52.2995 75.0933 52.2995C70.6602 52.2995 66.7917 51.6438 63.4878 50.3319C60.2005 49.0205 57.6435 47.003 55.8173 44.2804C54.0076 41.5406 53.0943 38.0375 53.0779 33.7706H66.2275C66.3105 35.3313 66.7005 36.6429 67.3979 37.7055C68.0954 38.7681 69.0749 39.5734 70.3364 40.1212C71.6152 40.669 73.1343 40.9429 74.8942 40.9429C76.372 40.9429 77.6087 40.7606 78.6049 40.3951C79.6012 40.03 80.3566 39.5235 80.8713 38.876C81.386 38.2285 81.6517 37.4896 81.6681 36.6595C81.6517 35.8791 81.3942 35.1984 80.8963 34.6173C80.4147 34.0196 79.6179 33.4883 78.5052 33.0234C77.3928 32.5419 75.8904 32.0936 73.9977 31.6786L68.9171 30.5828C64.401 29.6032 60.8395 27.9678 58.233 25.6766C55.6428 23.3687 54.3563 20.2225 54.3726 16.2378C54.3563 13.0002 55.2197 10.1694 56.9628 7.74531C58.7227 5.30467 61.1551 3.40362 64.26 2.04217C67.3812 0.680724 70.9591 0 74.9939 0C79.1114 0 82.6725 0.689027 85.6776 2.06708C88.6832 3.44513 90.999 5.3877 92.6261 7.89473C94.2699 10.3852 95.1002 13.299 95.1165 16.6362H81.8676ZM112.344 51.7018H97.4016L114.237 0.697329H133.165L150 51.7018H135.057L123.9 14.7435H123.502L112.344 51.7018ZM109.555 31.579H137.647V41.9392H109.555V31.579Z"
      fill="white"></path>
  </svg>

  <nav class="max-lg:hidden flex gap-6 items-center font-light text-sm">
    <a href="/">Servicios</a>
    <a href="/about">Portafolio</a>
    <a href="/contact">Testimonios</a>
    <Button type='outline'>Conócenos</Button>
    <Button type='outline'>Cotizar Ahora</Button>
  </nav>
</header>
